.footer {
    max-width: 1440px;
    margin-top: 50px;
    padding: 20px;
    background: #ce4646;
    p {
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
    }
}