.table {
    padding: 15px 25px;
    tbody {
        tr {
            background-color: #ffffff;
            td {
                font-size: 15px;
                padding: 10px 25px;
                .btn-detil {
                    border-radius: 1rem;
                    background: #ce4646;
                    border-color: #ce4646;
                    padding: 5px 50px;
                }
                .btn-detil:focus {
                    box-shadow: none;
                }
            }
        }
    }
}